---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Base from "../layouts/Base.astro";

import { postdate } from "@components/utilities/DateFormat.js";

let allWords = await getCollection("words");
allWords = allWords.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);

const indexWords = allWords.slice(0, 3);

const albums = await getCollection("albums", (album) => album.data.images && album.data.images.length > 0);
const randomAlbum = albums[Math.floor(Math.random() * albums.length)];
const randomImage = randomAlbum?.data.images?.[Math.floor(Math.random() * randomAlbum.data.images.length)];

const title = "astro-photoswipe";
---

<Base title={title}>
  <div class="text-center">
    <h1 class="mb-3">{title}</h1>
    <h5 class="text-teal-200 mb-15">an astro photo site by Scott Willsey</h5>
    <p class="text-xl my-4">
      This is my personal photos site. Visit <a href="/photos" class="underline">Photos</a> to see some amazing images. Visit <a href="/words" class="underline">Words</a> to read some thoughts about
      things I've seen.
    </p>
  </div>
  { randomImage && 
  <div class="random-photo text-center mt-20">
    <h2>Featured Image</h2>
    <p class="text-xl my-4">
      <a
                href={`/photos/${randomAlbum.id}`}
                class="group transition-all mb-4 block"
              >
                <Image
                  src={randomImage.src}
                  alt={randomImage.title}
                  width={800}
                  densities={[1, 2, 3]}
                  loading="lazy"
                  quality="mid"
                  class:list={[
                    "rounded-lg transition-all",
                    "group-hover:shadow-lg group-hover:opacity-90",
                  ]}
                />
                <div class="mt-4 text-center">
                  <strong class="font-mono font-normal text-lime-200 text-xl">
                    {randomImage.title}
                  </strong>
                  <p class="font-text text-sm">{randomImage.description}</p>
                </div>
              </a>
    </p>
  </div>
  }
  <div class="text-center mt-20">
    <h2>Recent Words</h2>
    <p class="text-xl my-4">
      Some recent things I've written about some of my photos
    </p>
  </div>
  <div class="mx-auto container max-w-screen-sm">
    {
      indexWords.map((item) => (
        <a href={`/words/${item.id}`} class="group transition-all mb-20 block">
          <Image
            src={item.data.image}
            alt={item.data.title}
            width={800}
            densities={[1, 2, 3]}
            loading="lazy"
            quality="mid"
            class:list={[
              "rounded-lg transition-all",
              "group-hover:shadow-lg group-hover:opacity-90",
            ]}
          />
          <div class="mt-4">
            <strong class="text-center font-mono font-normal text-lime-200 text-3xl">
              {item.data.title}
            </strong>
            <p class="font-text text-sm text-teal-200 my-4">
              {postdate(item.data.date)}
            </p>
            <p class="font-text text-sm -my-2">{item.data.description}</p>
            <p class="font-text text-xs text-orange-300 italic my-5">
              read more...
            </p>
          </div>
        </a>
      ))
    }
  </div>
</Base>
<style>
  img {
    width: 720px;
    height: 150px;
    object-fit: none;
    margin-top: 2em;
  }
  div.random-photo img {
    width: 720px;
    height: auto;
    margin: 2em auto;
  }
</style>
