---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Base from "../layouts/Base.astro";

const albums = await getCollection("albums", ({ data }) => {
  return data.parent === "albums";
});
---

<Base title="Photos" breadcrumbs={[{ title: "Photos", href: "/photos" }]}>
  <div class="text-center">
    <h1>Photos</h1>
    <p class="text-xl my-4">Albums of my photos</p>
  </div>
  <div class="mx-auto container max-w-screen-sm grid grid-cols-2 gap-8">
    {
      albums.map((item) => (
        <a href={`/photos/${item.id}`} class="group transition-all mb-4 block">
          <Image
            src={item.data.image}
            alt={item.data.title}
            format="avif"
            width={720}
            quality="mid"
            class:list={[
              "rounded-lg transition-all",
              "group-hover:shadow-lg group-hover:opacity-90",
            ]}
          />
          <div class="mt-4 text-center">
            <strong class="font-mono font-normal text-lime-200 text-xl">
              {item.data.title}
            </strong>
            <p class="font-text text-sm">{item.data.description}</p>
          </div>
        </a>
      ))
    }
  </div>
</Base>
