---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "../layouts/Base.astro";

const words = await getCollection("words");
---

<Layout title="Words">
  <div class="text-center">
    <h1>Words</h1>
    <p class="text-xl my-4">Some words about some photos</p>
  </div>
  <div class="mx-auto container max-w-screen-sm">
    {
      words.map((item) => (
        <a href={`/words/${item.id}`} class="group transition-all mb-20 block">
          <Image
            src={item.data.image}
            alt={item.data.title}
            format="avif"
            width={720}
            quality="mid"
            class:list={[
              "rounded-lg transition-all",
              "group-hover:shadow-lg group-hover:opacity-90",
            ]}
          />
          <div class="mt-4 text-center">
            <strong class="font-mono font-normal text-lime-200 text-xl">
              {item.data.title}
            </strong>
            <p class="font-text text-sm">{item.data.description}</p>
            <p class="font-text text-xs text-orange-300 italic my-5">
              read more...
            </p>
          </div>
        </a>
      ))
    }
  </div>
</Layout>
<style>
  img {
    width: 720px;
    height: 150px;
    object-fit: none;
    margin-top: 2em;
  }
</style>
