---
import { type CollectionEntry, getEntry, getCollection } from "astro:content";
import { Image, getImage } from "astro:assets";

interface Props {
  albumid: string;
  album?: CollectionEntry<"albums">;
}

const { albumid } = Astro.props;
const album = await getEntry("albums", albumid);

let images;
// if this is the "All Photos" album, collect all images from all albums
if (albumid === "all") {
  album.data.images = [];
  const allAlbums = await getCollection("albums", ({ data }) => {
    return data.images && data.images.length > 0;
  });

  // flatten all images from all albums into one array
  images = allAlbums
    .flatMap((albumItem) => albumItem.data.images)
    .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());

  // assign the collected images to the album's images property
  if (album) {
    album.data.images = images;
  }
} else {
  images = album?.data.images ?? [];
}
---

<div
  id="gallery"
  class="mx-auto container max-w-screen-xl grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-4 justify-items-center"
>
  {
    images.map(async (image, index) => {
      let bigImage = await getImage({ src: image.src });
      return (
        <a
          href={bigImage.src}
          data-pswp-width={image.width}
          data-pswp-height={image.height}
          target="_blank"
        >
          <Image
            src={image.src}
            alt={image.alt}
            width="300"
            widths={[600, 900]}
            quality={80}
            loading={index < 4 ? "eager" : "lazy"}
            class="lightbox-image"
            data-index={index}
          />
          <span class="pswp-caption-content mx-auto container max-w-screen-xl">
            <h5>{image.title}</h5>
            <p>{image.description}</p>
            <p class="text-orange-200 italic my-2">{image.date}</p>
          </span>
        </a>
      );
    })
  }
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";
  import PhotoSwipeDynamicCaption from "photoswipe-dynamic-caption-plugin";
  import "@styles/photoswipe-dynamic-caption-plugin.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
    mobileLayoutBreakpoint: 700,
    type: "below",
    mobileCaptionOverlapRatio: 1,
  });

  lightbox.init();
</script>
