---
import { type CollectionEntry, getEntry } from "astro:content";
import { Image, getImage } from "astro:assets";

import { photodate } from "@components/utilities/DateFormat.js";

interface Props {
  albumid: string;
  album?: CollectionEntry<"albums">;
}

const { albumid } = Astro.props;
const album = await getEntry("albums", albumid);
const images = album?.data.images ?? [];
---

<div
  id="gallery"
  class="mx-auto container max-w-screen-xl grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-4 justify-items-center"
>
  {
    images.map(async (image, index) => {
      let bigImage = await getImage({ src: image.src });
      return (
        <a
          href={bigImage.src}
          data-pswp-width={image.width}
          data-pswp-height={image.height}
          target="_blank"
        >
          <Image
            src={image.src}
            alt={image.alt}
            width="300"
            widths={[600, 900]}
            quality={80}
            loading={index < 4 ? "eager" : "lazy"}
            class="lightbox-image"
            data-index={index}
          />
        </a>
      );
    })
  }
</div>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
  });

  lightbox.init();
</script>
